<!DOCTYPE html>
<html>
<head>
	<title> Cadastro </title>
</head>
<body>

	<form method="post" action="cadastro">

		<label> Nome </label> <input type="text" name="nome">

		<button type="submit"> Salvar </button>
		
	</form>

</body>
</html>